@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}

nav{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;

    background-color: #073B4C;
    padding-left: 50px;
}

nav h3{
    font-weight: bold;
    color: white;
}

.logo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.titre-jeu{
    align-items: center;
    justify-content: center;
    display: flex;
    color:#001F3F;
    font-weight: 500;
    font-size: 30px
}